﻿﻿@{
    ViewBag.Title = "(500) An Error Occurred";
}
<h1>OOOPS... Something went wrong..</h1>
<p>An Error Occurred</p>
<p>Please, contact the support.</p>
<p>To find contacts write to: email123007@gmail.com</p>