﻿@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using BlogApp.DAL.Models

@{
    ViewData["Title"] = "Home Page";
}

<div class="container-page">

    @if (User.Identity.IsAuthenticated)
    {

    }
    else
    {

    }
</div>